:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Font Colors */
  --primary-cl: #434455;
  --secondary-cl: #2E2F42;
  --tertiary-cl: #F4F4FD;
  --web-cl: #4D5AE5;
  --header-ahf-cl: #404BBF;
  --hero-cl: #ffffff;
  /* Background Colors */
  --primary-bg-cl: #ffffff;
  --secondary-bg-cl: #2E2F42;
  --tertiary-bg-cl: #F4F4FD;
  --hero-btn-bg-cl: #4D5AE5;
  --pf-btn-border-cl: #E7E9FC;
  /* Flexbox grid */
  --items: 4;
  --indent-vertical: 24px;
  --indent-horizontal: var(--indent-vertical);
}

/**
  |============================
  | Common styles
  |============================
*/

body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: var(--primary-cl);
  background-color: var(--primary-bg-cl);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-horizontal);
  column-gap: var(--indent-vertical);
}

.card-set-item {
  width: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-cl);
  margin-bottom: 72px;
}

.list-header {
  color: var(--secondary-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

/**
  |============================
  | Header styles
  |============================
*/

.header {
  border-bottom: 1px solid var(--pf-btn-border-cl);
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.web-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--web-cl);
  margin-right: 76px;
}

.header-studio-logo {
  color: var(--secondary-cl);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.header-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 40px;
}

.nav-list {
  font-weight: 500;
  color: var(--secondary-cl);
}

.header-list .link:active,
.header-list .link:hover,
.header-list .link:focus {
  color: var(--header-ahf-cl)
}

/**
  |============================
  | Main styles
  |============================
*/

/* Hero section */

.hero-section {
  background-color: var(--secondary-bg-cl);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/main-page/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: var(--hero-cl);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  max-width: 496px;
  flex-shrink: 0;
  margin: 0 auto;
}

.hero-btn {
  color: var(--hero-cl);
  background-color: var(--hero-btn-bg-cl);
  font-weight: 500;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
}

.hero-btn:active,
.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--header-ahf-cl)
}

/* Features section */

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* WAWD section */

.wawd-section {
  padding-bottom: 120px;
}

.wawd-list {
  --items: 3;
}


/* Team section */

.team-section {
  background-color: var(--tertiary-bg-cl);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-item {
  text-align: center;
}

.team-list {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding: 32px 16px;
  background-color: var(--primary-bg-cl);

}

/* Customers styles */

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  --items: 6;
}

.customers-item {}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  flex-shrink: 0;
}

.customers-icon {
  fill: #8e8f99;
}

.customers-link:hover {
  border-color: #404BBF;
}

.customers-link:hover .customers-icon {
  fill: #404BBF;
}

/**
  |============================
  | Portfolio styles
  |============================
*/

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btn {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--web-cl);
  background-color: var(--tertiary-bg-cl);
  padding: 12px 24px;
  border: 1px solid var(--pf-btn-border-cl);
  border-radius: 4px;
}

.portfolio-btn:active,
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--hero-cl);
  background-color: var(--header-ahf-cl);
  border: 1px solid transparent;
}

.button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-list {
  --items: 3;
  --indent-horizontal: 48px;
}

.potfolio-card {
  padding: 32px 16px;
  border: 1px solid var(--pf-btn-border-cl);
  border-top: none;
}

/**
  |============================
  | Footer styles
  |============================
*/

.footer-section {
  background-color: var(--secondary-bg-cl);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-studio-logo {
  color: var(--tertiary-cl);
  /* display: inline-block;
  margin-bottom: 16px; */
}

.bot-web-logo {
  /* bot req */
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--tertiary-cl);
}

/**
  |============================
  | Additional bot requirements
  |============================
*/

/* common styles */
.section-title {
  letter-spacing: 0.02em;
}

.list-header {
  letter-spacing: 0.02em;
}

/* header styles */
.header-address {
  font-style: normal;
}

/* main styles */
.hero-title {
  letter-spacing: 0.02em;
}

.hero-btn {
  line-height: 1.50;
}

/* portfolio styles */
.portfolio-btn {
  line-height: 1.50;
}

.portfolio-list {
  column-gap: 24px;
  row-gap: 48px;
}